/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
@import url('https://fonts.googleapis.com/css2?family=Poppins');
@import url('https://fonts.googleapis.com/css2?family=Raleway');
:root {
    --blue: #40BFFF;
    --red: #FF4858;
    --light-blue: #BCDDFE;
    --black: #373737;
    --black-faint: rgb(170, 170, 170);
}

* {
    /*box-sizing:border-box;*/
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--black);
}

#amount {
    margin-left: 5%;
    margin-right: 1%;
}

#banners {
    /*background-color: white;*/
    box-sizing: border-box;
    display: flex;
    align-items: flex-end;
    margin: -4rem auto 0 auto;
    width: 80%;
}

.banner-item > img {
    width: 100%;
}

.banner-item-text > p:first-child {
    font-weight: bolder;
}

.banner-item-text {
    margin: 1rem 0 0 1rem;
    position: absolute;
}

.best-card {
    box-sizing: border-box;
    border: solid 1px rgb(221, 221, 221);
    text-align: center;
    width: 15rem;
}

.best-card > img {
    width: 100%;
}

#best-seller {
    margin: 5rem auto 0 auto;
}

    #best-seller > a {
        display: block;
        color: var(--blue);
        margin: 1rem 0 4rem 0;
        text-align: center;
        text-decoration: underline;
    }

#best-seller-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    /*grid: repeat(2, 1fr)/ repeat(4,1fr);*/
    gap: 1rem;
    margin: auto;
    padding: 1rem;
    width: 80%;
}

#best-seller-nav {
    display: flex;
    justify-content: space-between;
    font-weight: bolder;
    margin: 1rem auto 0 auto;
    text-align: center;
    width: 30%;
}

#best-seller-nav > a:hover {
     color: var(--blue);
     text-decoration: underline;
}

.best-seller-text > p:first-child {
    font-weight: bolder;
}


.best-seller-text>p,.cost-container>span{
    font-size: small;
}

body {
    color: var(--black);
    font-family: 'Poppins';
}

button {
    display: inline-block;
    background-color: var(--blue);
    border: 1px solid var(--blue);
    color: white;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    height: 2.5rem;
    width: 6rem;
}

.cart-container {
    display: inline-block;
    margin-left: 5%;
}

.cost {
    color: var(--black-faint);
    display: inline-block;
    text-decoration: line-through;
}

.cost-container {
    display: flex;
    gap: 1em;
    justify-content: center;
}

.discount-cost {
    color: var(--blue);
    font-family: 'Raleway';
    font-weight: bolder;
}

#featured {
    display: flex;
    justify-content: space-between;
    margin: 10% auto 10% auto;
    width: 80%;
}

.featured-product{
    box-sizing:border-box;
    display: flex;
    gap: 1rem;
    align-content: start;
}

.featured-product-pic{
    width: 7rem;
}

.featured-product-pic>img{
    width: 100%;
}

.featured-product-text{
    text-align: left;
}

.featured-product-text>.cost-container{
    justify-content:flex-start;
}

.featured-product-text>.rates {
    margin-top: 0.7rem;
    margin-bottom: 0.5rem;
}

.final-cost {
    color: var(--blue);
    font-family: 'Raleway';
    font-weight: bolder;
    margin: -3rem 0 0 15rem;
}

footer{
    background-color: var(--light-blue);
    text-align: left;
}

#footer1, #footer2 {
    display: flex;
    align-items: start;
    justify-content:space-between;
    padding: 10rem 10% 0 10%;
}

.footer-item{
    width: 30%;
}

.footer-item2 {
    width: 20%;
}

.footer-item-img{
    display: flex;
    gap: 1rem;
}

#footer-logos {
    display: flex;
    justify-content: flex-end;
}

.footer-topic{
    font-weight: bolder;
    margin-bottom: 2rem;
}

h1 {
    font-size: 4em;
    font-weight: bolder;
    padding: 18rem 0 0 4rem;
}

h2 {
    text-align: center;
}

header {
    margin: auto;
    width: 80%;
    padding: 1rem 5rem 0 0rem;
}
hr{
    color: white;
    border: 1px solid white;
    margin-top: 5rem;
}

.input-field {
    border: solid 2px var(--blue);
    border-radius: 5px;
    display: block;
    margin: 0.5rem 0;
    padding: 1rem;
}

input[type="date"] {
    background-image: url('../img/Date.png');
    background-size: contain;
    background-repeat: no-repeat;
    color: var(--black);
    font-weight: bolder;
    text-indent: 3rem;
}

input[type="email"] {
    background-image: url('../img/Message.png');
    background-size: contain;
    background-repeat: no-repeat;
    color: var(--black);
    font-weight: bolder;
    text-indent: 3rem;
}

input[type="password"] {
    background-image: url('../img/Password.png');
    background-size: contain;
    background-repeat: no-repeat;
    color: var(--black);
    font-weight: bolder;
    text-indent: 3rem;
}

input[type="phone"] {
    background-image: url('../img/Phone.png');
    background-size: contain;
    background-repeat: no-repeat;
    color: var(--black);
    font-weight: bolder;
    text-indent: 3rem;
}

input[type="text"] {
    background-image: url('../img/User.png');
    background-size: contain;
    background-repeat: no-repeat;
    color: var(--black);
    font-weight: bolder;
    text-indent: 3rem;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70%;
    margin: auto;
    width: 60%;
}



.login-form-container {
    text-align: center;
    margin-bottom: 2rem;
}


.login-form-container>p{
    color: var(--black-faint);
    padding: 0 0 2rem 0;
}

.login-form-title{
    font-size: 2rem;
    font-weight: bolder;
    padding: 0;
}

.login-submit{
    background-color: var(--blue);
    color: white;
    font-weight: bolder;
}

.nav-bar2 > img {
    display: none;
}


.nav-bar {
    font-size: smaller;
}

.nav-bar, .nav-bar2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2%;
}

#nav-bar-items {
    display: flex;
    flex-wrap: wrap;
    justify-self: end;
    justify-content: flex-end;
    align-items: center;
}

#nav-bar-search {
    background-image: url('../img/search-icon.png');
    background-repeat: no-repeat;
    display: inline-block;
    height: 25px;
    border: none;
    width: 10%;
}

    #nav-bar-search:focus {
        background-image: none;
        border: solid 2px;
        width: 40%;
    }

.nav-link {
    font-weight: bolder;
}

    .nav-link:hover {
        color: var(--blue);
    }

#nav-link-wrapper {
    display: flex;
    gap: 30%;
    align-items: center;
    justify-content: flex-end;
}

.news-card {
    display: flex;
    gap: 1rem;
}

.news-card-img>img{
    width: 100%;
}

.news-card-img {
    box-sizing: border-box;
    width: 40%;
}

#news-cards {
    display: flex;
    margin: 5% auto 10% auto;
    width: 80%;
}

.news-card-text{
    width: 40%;
}

.news-date {
    color: var(--black-faint);
    font-size: 1rem;
}

.news-description {
    font-size: 0.7rem;
}

.news-title{
    font-size: 1.3rem;
    font-weight: bolder;
}

#offer-banner {
    background-image: url("../img/PromotionImage.png");
    color: white;
    height: 105vh;
}

.overlay {
    box-sizing:border-box;
    margin: -15rem 0 0 0rem;
    position: absolute;
    height: 14rem;
    width: 15rem;
    opacity: 0;
    transition: .5s ease;
    background-color: white;
}

.overlay>img{
    padding: 2%;
    margin: 50% auto 5rem auto;
    width: 10%;
}

.overlay>img:hover{
    border: solid 1px var(--blue);
    border-radius: 50%;
}

.overlay>img:active{
    background-color: var(--light-blue);
}

.overlay:hover {
    opacity: 1;
}

.percent-off {
    color: var(--red);
    font-weight: bolder;
    text-decoration: none !important;
}

.per-off {
    color: var(--red);
    font-weight: bolder;
    text-decoration: none !important;
}

.old-cost {
    color: rgb(170, 170, 170);
    display: inline-block;
    text-decoration: line-through;
}


.profile-container {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 30%;
}

    .profile-container > a {
        display: inline-block;
        margin-left: 10%;
    }

.search-form {
    background-color: var(--blue);
    display: flex;
    align-items: center;
    margin: 0 auto 5rem auto;
    height: auto;
    width: 32rem;
}

select {
    border: none;
    font-weight: bold;
}

#services {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin: 10% auto 10% auto;
    padding: 0 10% 0 10%;
}



#search {
    display: inline-block;
    border: 2px solid var(--blue);
    margin: auto;
    text-align: left;
    height: 2rem;
    padding: 0.2rem 0rem 0 1rem;
    width: 25rem;
}


.service{
    text-align: center;
    width: 20%;
}

.service-description{
    font-size: 0.7rem;
    margin: auto;
    width: 80%;
}

.service>img{
    margin-bottom: 2rem;
    width: 30%;
}

.service-title{
    font-weight: bold;
    margin-bottom: 1rem;
}

#shop-now{
    background-color: var(--blue);
    color: white;
    display: flex;
    padding: 10% 0% 3% 10%;
}

#shop-now-text{
    width: 50%;
}

#shop-now-txtBig{
    font-size: 2.8rem;
    margin-bottom: 1rem;
    width: 35rem;
}
#shop-now-txtSmall {
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

#shop-now-link {
    color: white;
    font-weight: bold;
    text-decoration: underline 4px;
}

#shop-now-pic{
    display: absolute;
    margin: -15% auto 0% -10%;
    width: 0.5rem;
}

#shop-now-pic>img{
    width: 42rem;
}

@media only screen and (max-width: 600px) {
    .nav-bar, .nav-bar2 {
        flex-wrap: wrap;
    }
    #items, #amount, .profile-container>a:nth-child(2) {
        display: none;
    }
    
}

@media only screen and (max-width: 992px) {
    #banners {
        background-color: none;
        flex-wrap: wrap;
    }
    #best-seller-cards {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    }


    .login-form-title{
        font-size : 1rem;
    }

    .nav-bar2 > img {
        display: block;
        width:1rem;
    }
    .nav-bar2 > img:hover{
        background-color: var(--light-blue);
        border-radius: 1px var(--blue);
    }
    #nav-link-wrapper{
        display: none;
    }
    #news-cards{
        gap: 2rem;
    }

    #services, #news-cards, #featured, #footer1, #footer2 {
        flex-direction: column;
        justify-content: center;
        align-content: center;
        gap: 2rem;
        align-items: center;
    }
    .service{
        margin-bottom: 2rem;

    }
}